@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');


body {
    font-family: 'unbounded', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #276fbf;
    background-color: #ffe8d8; 
}


/*fitness tracker title*/
header {
    background-color: #152B51;
    color: #f6f4f3;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, select {
    margin-bottom: 16px;
    padding: 8px;
}
 

/*log workout button*/
button {
    padding: 10px;
    background-color: #8596b4;
    color: #fff;
    border: none;
    cursor: pointer;
}


/*log workout button*/
button:hover {
    background-color: #555;
}


/*graph line*/
canvas {
    border: 1px solid #DAA520;
}
