
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


body {
    font-family: 'josefin sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffdfe;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#app {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fcc4c4;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0f0f0f;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input, button {
    margin-bottom: 10px;
}

select, input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #1ca84b;
    color: #000000;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #193acc;
}

canvas {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border: 1px solid #f0e1e1;
}


